table {
	 /*border-collapse: collapse;*/
}

td {
	border: 1px solid black;
	height: 50px;
	width: 50px;
}

td.yellow {
	background-color: rgb(255, 255, 204);
}

td.green {
	background-color: rgb(153, 255, 221);
}

td.red {
	background-color: rgb(255, 179, 179);
}

td.blue {
	background-color: rgb(102, 204, 255);
}

td.blank {
	border: none;
}

td.home {
	border-radius: 100px;
}

.pawn {
	font-family: 'Arial Unicode MS';
	font-size: 2em;
	text-align: center;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.pawn.yellow {
	color: yellow;
}

.pawn.green {
	color: green;
}

.pawn.red {
	color: red;
}

.pawn.blue {
	color: blue;
}
