table {
	 /*border-collapse: collapse;*/
}

td {
	border: 1px solid black;
	height: 50px;
	width: 50px;
}

td.yellow {
	background-color: yellow;
}

td.green {
	background-color: green;
}

td.red {
	background-color: red;
}

td.blue {
	background-color: blue;
}

td.blank {
	border: none;
}

td.home {
	border-radius: 100px;
}
